# Copia este archivo como .env.local y llena los valores
# Los obtienes en: supabase.com → tu proyecto → Settings → API

REACT_APP_SUPABASE_URL=https://xjfmnfecwenqmmppllbi.supabase.co
REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhqZm1uZmVjd2VucW1tcHBsbGJpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM4NTE5MzUsImV4cCI6MjA4OTQyNzkzNX0.G4TcPZt_Pp-Z-PCx0lSiuE8Tars9KW4VVErdQ443bX0
